.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right>img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  width: 230px;
  height: 390px;
}

.fighter-preview__info {
  margin: 0 auto;
}

.fighter-preview__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}